:root {
  --primary-color: #393e46;
  --secondary-color: #f7f7f7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --hover-color: #eeeeee;
}

body {
  margin: 60px auto;
  max-width: 1000px;
  background-color: #eeeeee;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 80px;
  font-weight: 900;
  color: #e981a4;
}
h2 {
  font-size: 48px;
  font-weight: 700;
}
h3 {
  padding-top: 10px;
  color: #525353;
  font-size: 24px;
}
h1,
h2,
h3,
h4 {
  display: block;
  text-align: center;
  margin: 0;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

h4 {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.navbar {
  display: flex;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: var(--hover-color);
}

.work-link {
  color: var(--primary-color);

  text-decoration: none;
}
.work-link:hover {
  color: var(--hover-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.primary-link {
  padding: 15px 10px;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;

  color: black;
  justify-content: middle;
  font-weight: 400;
}
.primary-link:hover {
  color: #e981a4;
  font-weight: 600;
}

.mt-5 {
  margin-top: 0 auto;
}
.button_contact {
  border-radius: 4px;
  padding: 15px 10px;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.grid-content {
  justify-content: left;
  text-align: center;
  padding: 20px;
}

.img-fluid {
  max-width: 80%;
  height: auto;
  vertical-align: middle;
  box-shadow: var(--box-shadow);
  margin: 20px;
}

.col-md-6 {
  padding-top: 20px;
}

@media (max-width: 988px) {
  h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 80px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .grid-content {
    text-align: center;
  }
  .img-fluid {
    display: none;
  }
  .img-fluids {
    max-width: 80%;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .col-md-6 {
    padding-top: 10px;
  }

  .navbar-nav {
    font-size: 70%;
  }
  p {
    text-align: center;
    margin-top: 80px;
  }
}

.banner {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.footer-icons {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 30px 0;
  display: block;
  font-size: 40px;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  text-align: center;
}
a:hover {
  color: #e981a4;
}

.fa-envelope {
  text-align: center;
  font-size: 58px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar {
  background: #393e46;
}
.card-text {
  font-weight: 400;
}
.view-more {
  display: block;
  margin: 0 auto;
  margin-top: -28px;
  text-align: center;
  font-size: 20px;
}
