:root {
  --primary-color: #ff63cb;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --hover-color: rgb(66, 29, 57);
}

body {
  margin: 60px auto;
  max-width: 1000px;
  background-color: #d6d6d6;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 80px;
  font-weight: 900;
}
h2 {
  font-size: 48px;
  font-weight: 700;
}
h3 {
  padding-top: 10px;
  color: #525353;
  font-size: 24px;
}
h1,
h2,
h3,
h4 {
  display: block;
  text-align: center;
  margin: 0;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

h4 {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.navbar {
  display: flex;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: var(--hover-color);
}

.work-link {
  color: var(--primary-color);

  text-decoration: none;
}
.work-link:hover {
  color: var(--hover-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  justify-content: middle;
}
.button_contact {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  color: var(--hover-color);
}
.grid-content {
  justify-content: left;
  text-align: left;
  margin: 10px;
}

p.grid-content {
  padding: 20px 0px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin: 20px;
}
.img-fluids {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin: 20px;
}
@media (max-width: 812px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .grid-content {
    text-align: center;
  }
  .img-fluid {
    display: none;
  }
  .img-fluids {
    max-width: 80%;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .mt-5 {
    text-align: center;
  }
}

.banner {
  width: 1020px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.footer-icons {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 30px 0;
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--hover-color);
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
